<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>웹소켓 아주 기본 예제</title>
    <script>
      let timer;
      const socket = new WebSocket(
        "wss://jbglmgd174.execute-api.ap-northeast-2.amazonaws.com/dev"
      );

      socket.onopen = function (event) {
        console.log("onopen >>>> event===========", event);

        /*timer = setInterval(() => {
          socket.send(JSON.stringify({ action: "ping" }));
        }, 60 * 1000);*/
      };

      socket.onmessage = function (event) {
        console.log("onmessage >>>> event===========", event);
      };

      socket.onclose = function (event) {
        if (event.wasClean) {
          console.log("onclose >>>> wasClean >>>> event===========", event);
          // console.log(
          // `[close] 커넥션이 정상적으로 종료되었습니다(code=${event.code} reason=${event.reason})`
          //);
        } else {
          console.log("onclose >>>> event===========", event);
          // 예시: 프로세스가 죽거나 네트워크에 장애가 있는 경우
          // event.code가 1006이 됩니다.
          // console.log("[close] 커넥션이 죽었습니다.");
        }

        /*if (timer) {
          clearInterval(timer);
          timer;
        }*/

        if (socket) {
          socket.close();
        }
      };

      socket.onerror = function (error) {
        console.log("onerror >>>> error===========", error);
      };

      window.ask = function () {
        const payload = {
          action: "send", //없는 action 값을 넣으면 "{\"message\": \"Forbidden\", \"connectionId\":\"ADH5AeSoIE0CFMg=\", \"requestId\":\"ADH6aG6qIE0Fnnw=\"}"
          roomId: "AAA",
          msg: "test_message",
        };
        socket.send(JSON.stringify(payload));
      };
    </script>
  </head>
  <body>
    <div>채팅방 최초 생성 유저</div>
    <!-- 메시지 폼 -->
    <form name="publish">
      <input type="text" name="message" />
      <input type="submit" value="전송" />
    </form>

    <!-- 수신받을 메시지가 노출될 div -->
    <div id="messages"></div>
  </body>
</html>
